.spacercol {
	WIDTH: 19px
}
BODY {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}

A:link {
	COLOR: #330099; TEXT-DECORATION: none
}

A:active {
	COLOR: #330099; TEXT-DECORATION: none
}

A:visited {
	COLOR: #330099;
	TEXT-DECORATION: none;
	font-weight: bold;
}

A:hover {
	COLOR: #FF0000; TEXT-DECORATION: underline
}

UL {
	COLOR: #000000; LIST-STYLE-TYPE: disc
}

LI {
	FONT-SIZE: 12px;
	COLOR: #000000;
	LIST-STYLE-TYPE: disc;
	font-family: Arial, Helvetica, sans-serif;
}

P {
	FONT-SIZE: 12px;
	COLOR: #000000;
	font-family: Arial, Helvetica, sans-serif;
}

table.sectionHead
{
	width:98%;
	border-bottom-style:none;
	border-top-style:none;
	border-left-style:none;
	border-right-style:none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	background-position: center;
	white-space: pre;
	text-indent:5pt;
}

tr.sectionHead
{
	background-color:#D2B48C;
}

tr.sectionHead-blue
{
	background-color:#0000ff;
	color: #FFFFFF;
}

table.tourBanner
{
	width:98%;
	padding:0px;
	border-bottom-style:none;
	border-top-style:none;
	border-left-style:none;
	border-right-style:none;
	border-collapse:collapse;
	font-family: Arial, Helvetica, sans-serif;
}

tr.tourBanner
{
	background-color:#9B9B9B;
	text-align:center;
	padding:0;
	font-size:12px;
	font-style:italic;
	font-weight:bold;
}

img
{
	border:0px;
}